html,body{
  height: 100%;
}
body{
  overflow: scroll;
  overflow-x: hidden;
}
.flashsale,.navyblue-border,.darkblue-border,.orange-border,.red-border,.purple-border {
	position: relative;
	height: 45px;
	line-height: 45px;
}
.clearFix::after,.clearFix::before{
  content: "";
  display: block;
  clear: both;
}
ul,li,ol{
  list-style: none;
}
a, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: #333;
}
// 导航栏
div.wd-1200.ma.fs-12.cl-6,p.fl,lable.cp,span.pd-0015.cl-c.fr,a.hover.fr.cl-6{
  height:30px;
  line-height: 30px;
}
.header #phone,#darrow{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
#acount{
  display: none;
  position: absolute;
  top: 0;
  z-index: 1;
  left: -11px;
  width: 60px;
  padding:2px 10px 10px 10px;
  border: 1px #e8e8e8 solid;
  background-color: #fff;
}
.pr:hover #acount{
  display: block;
}
.search-box p{
  cursor: pointer;
  user-select: none;
  width: 70px;
  height: 100%;
  background-color: #2db4ea;
  line-height: 35px;
  color: #fff;
  text-align: center;
  display: block;
}
// logo+搜索+购物车
.search-container .logo-container{
  height: 90px;
  padding-top:30px ;
}
.logo-box {
  width: 325px;
  height: 90px;
}
.header{
  border-bottom: 1px solid #e8e8e8;
  height: 150px;
}
// 底部
.footer{
  border-top: 1px solid #b3afaf;
  width: 1264px;
  height: 474px;
  margin-top: 40px;
  top: 500px;
  left:0;
}
.footer .tag{
  width: 1264px;
  height: 101px;
  padding: 20px;
  height: 60px;
  border-bottom: 1px solid #b3afaf;
}
.footer .links-box{
  position: relative;
  width: 850px;
}
ul.clearfix{
  width: 1200px;
  height: 60px;
}
.footer .tag ul{
  padding: 0 50px;
  width: 1100px;
  margin: 0 auto;
}
li.cl-4.lh-25.pd-0500.wd-25p.fl{
  width: 275px;
  height: 60px;
}
p.fs-24{
  vertical-align: middle;
  width: 150px;
  height: 25px;
}
div.wd-1200.ma.pd-2000.clearfix{
  width: 1200px;
  height: 282px;
}
ul.links-box{
  position: relative;
  width: 850px;
}
ul.links-box.fl.clearfix{
  width: 850px;
  height: 220px;
}
div.code-box{
  width: 260px;
  padding: 0 34px 0 56px;
}
// copyright
.footer .copyright{
  height: 50px;
  padding: 20px 0;
  background-color: #414141;
}
.copyRightA,a.copyRightA{
  color: #999;
  cursor: pointer;
}
.copyRightA:hover{
  color: #fff;
}

// 中部
.tablecart thead.thead-1 {
  background-color: #f3f3f3;
  border: 1px #e8e8e8 solid;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}
.check{
  position: relative;
}
.allcheck{
  left: 10px;
  top: 20px;
  position: absolute;
}
.typecart-2{
  border: 1px #e8e8e8 solid;
  border-width: 1px 1px 0 1px;
}
.tablecart tfoot {
  background-color: #f3f3f3;
  border: 1px #e8e8e8 solid;
  height: 80px;
  line-height: 80px;
  font-size: 16px;
  margin-top: 10px;
}